body {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./img/github.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}


.cursos{
    width: 300px;
    display: flex;

}
.cards{
width: 100%;
margin: 20px;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 5px 10px rgb(64, 24, 128);
transition: 0.5s;
}

.cards:hover{
    box-shadow: 0 5px 10px rgb(64, 24, 128);
    transform: translateY(-3%);
}

.cards img {
  width: 100%;
  height: 210px;
}

.cards .cursos{
    padding: 15px;
    text-align: center;
}
.cards h2 {
  text-align: center;
  background: rgba(8, 8, 8, 0.575);
  color: rgba(210, 31, 255, 0.61);
}

.cards p {
    padding: 0.2px;
  text-align: left;
  color: rgb(253, 253, 253);
}
.cards .precio {
  color: rgb(201, 198, 35);
  font-weight: bold;
  text-align: right;
}
/*Estrellas*/

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
